.cadastrouserform div {
    display: block;
    margin: auto;
    margin-top: 4rem;
    width: 90%;
    max-width: 600px;
    border: 1px solid rgb(0, 0, 0);
    background-color: rgba(197, 197, 197, 0.281);
    padding: 2rem;
    border-radius: 4px;
}

.cadastrouserform ul {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
    justify-content: flex-end;
}

.cadastrouserform ul li {
    display: flex;
    padding: 15px;
    font-size: 13px;
}

.cadastrouserform ul li a {
    display: flex;
    color: rgb(52, 0, 119);
    text-decoration: none;
    padding-left: 15px;
}

.cadastrouserform form input {
    display: block;
    border-radius: 4px;
    width: 90%;
    padding: 15px;
    margin: 10px 0;
    border: 1px solid rgb(0, 0, 0);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1rem;
}

.cadastrouserform form button {
    display: block;
    border-radius: 4px;
    padding: 10px;
    width: 100%;
    border: 1px solid black;
    text-decoration: none;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 14px;
}

.cadastrouserform form button:hover {
    background-color: rgb(39, 126, 129);
    transition: 0.3s;
}

@media (max-width: 600px) {
    .cadastrouserform div {
        padding: 1.5rem;
    }

    .cadastrouserform form input {
        font-size: 0.9rem;
    }

    .cadastrouserform form button {
        font-size: 0.9rem;
    }
}

@media (max-width: 400px) {
    .cadastrouserform div {
        padding: 1rem;
    }
}