.perfilpage {
    max-width: 600px;
    margin: 20px auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

.perfilpage h2 {
    color: #333;
    font-size: 24px;
    margin-bottom: 10px;
    text-align: center; 
}

.perfilpage h3 {
    color: #666;
    font-size: 20px;
    margin-bottom: 20px;
    text-align: center;
}

form {
    display: flex;
    flex-direction: column;
}

form input[type="text"],
form input[type="email"],
form input[type="password"] {
    width: 100%;
    padding: 12px;
    margin: 10px 0;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 16px;
    transition: border-color 0.3s;
}

form input[type="text"]:focus,
form input[type="email"]:focus,
form input[type="password"]:focus {
    border-color: #36b4c5;
    outline: none;
}

form button {
    background-color: #1f97a7;
    color: #ffffff;
    padding: 12px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 10px;
    transition: background-color 0.3s, transform 0.3s;
}

form button:hover {
    background-color: #5dcee2;
    transform: scale(1.02);
}

.button-container {
    margin-top: 20px;
    display: flex; 
    justify-content: center; 
}

.button-container form {
    margin: 0;
}

form p {
    color: #555;
    text-align: center;
}